# Executables
src/*
!src/*.*
!src/*/
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.ini
src/rpc.html
src/*.wasm
src/rpc.data
src/*.js

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
.DS_Store
*.dll
*.so
*.so.*
*.dylib

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Visual Studio files
[Dd]ebug/
[Dd]ebug.DLL/
[R]elease/
[Rr]elease.DLL/
*.user
!src/template/projects/VS2022/project_name/project_name.vcxproj.user
*.aps
.vs

# Build folder
[Bb]uild
